@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,600,700');

main {
  cursor: pointer;
}

header {
  float: right;
}

a {
  text-decoration: none;
}

#logo {
  max-width: 370px;
}

#back-asset {
  background-repeat: round;
  width: 100vw;
  height: 100vh;
}

#front-asset {
  background-repeat: no-repeat;
  background-position: center;

  height: 70vh;
  width: 70vw;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header {
  margin: 5px;
  position: fixed;
  right: 0;
  z-index: 2;
}

button {
  background-color: white;
  border: 2px solid black;
  cursor: pointer;
  margin-top: 5px;
  margin-right: 5px;
}

.round-btn {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

button:hover {
  -webkit-filter: invert(100%);
  filter: invert(100%);

  border: 2px solid black;
}

button:focus {
  outline: none;
}

button i {
  margin: auto;
  font-size: 16px;
}

.gifSettingBtn {
  padding: 7px 12px;
  border-radius: 1px;
  font-family: 'IBM Plex Sans', sans-sans-serif;
  font-size: 14px;
  font-weight: 700;
  background-color: white;
}

#classic-btn {
  background-color: yellow;
}

#drop-btn {
  width: 100px;
  border-radius: 10px;
  margin-left: 20px;
}

#play-btn {
  background-color: yellow;
  -webkit-animation: anim 2s, bgColor 5s;
  animation: anim 2s, bgColor 5s;

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes anim {
    from {-webkit-transform: rotateY(0deg);}
    to {-webkit-transform: rotateY(360deg);}
}

@keyframes anim {
    from {transform: rotateY(0deg);}
    to {transform: rotateY(360deg);}
}

@keyframes bgColor {
  12.5% {
    background-color: #FF0000;
  }
  25% {
    background-color: #FFA500;
  }
  37.5% {
    background-color: #FFFF00;
  }
  50% {
    background-color: #7FFF00;
  }
  62.5% {
    background-color: #00FFFF;
  }
  75% {
    background-color: #7c7cff;
  }
  87.5% {
    background-color: #9932CC;
  }
  100% {
    background-color: #FF1493;
  }
}

.noanimation {
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -o-animation: none !important;
  animation: none !important;
}

#info {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 1;
}

#info #info-text {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.15em;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  text-align: center;
}

#info #btn-bar {
  position: absolute;
  bottom: 0;

  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
